# Directorios
.venv/
.marimo/
__pycache__/
__marimo__/
Secrets/

# Archivos
.env
*.lock

# Cosas del LaTeX
*.aux
*.bcf
*.lof
*.log
*.out
*.run.xml
*.toc
*.bbl
*.blg
.auctex-auto/

# Front
node_modules
.svelte-kit
.vscode