services:
  
  nginx:
    image: nginx:latest
    container_name: pgadmin_nginx
    restart: unless-stopped
    networks:
      - nginx_net
      - pgadmin_net
    ports:
      - "${PORT_PGADMIN}:80"
      - "${PORT_FRONT}:3000"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  front_tuxhydro:
    container_name: front_tuxhydro
    image: spanishhans/apps:tuxhydro_front
    env_file: ./.env
    networks:
      - nginx_net
  
  api_auth:
    container_name: tuxhydro_api_auth
    image: spanishhans/apps:Auth
    env_file: ./.env
    secrets:
      - jwt_private_key
      - jwt_public_key
      - fernet_password
      - postgres_password
    networks:
      - gis_net
      - nginx_net
    depends_on:
      db:
        condition: service_healthy

  pgadmin:
    image: dpage/pgadmin4:9.10
    container_name: pgadmin_web
    restart: unless-stopped
    env_file: ./.env
    networks:
      - pgadmin_net
    volumes:
      - pgadmin:/var/lib/pgadmin
  
  influxdb3-core:
    container_name: influxdb3-core
    image: influxdb:3-core
    secrets:
      - postgres_password
    ports:
      - "${PORT_DB_IF}:5432"
    networks:
      - time_net
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    volumes:
      - type: bind
        source: ~/.influxdb3/core/data
        target: /var/lib/influxdb3/data
      - type: bind
        source: ~/.influxdb3/core/plugins
        target: /var/lib/influxdb3/plugins

  db:
    container_name: gis_db
    env_file: ./.env
    image: postgis/postgis
    secrets:
      - postgres_password
    environment:
      POSTGRES_USER: ${PG_DB_USER}
      POSTGRES_DB: ${PG_DB_NAME}
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    ports:
      - "${PORT_DB_PG}:5432"
    networks:
      - gis_net
      - pgadmin_net
    volumes:
      - postgresql:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_DB_USER} -d ${PG_DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 5

networks:
  nginx_net:
    driver: bridge
    name: net_nginx_tuxhydro
  
  front_net:
    driver: bridge
    name: net_front_tuxhydro
  
  gis_net:
    driver: bridge
    name: net_gis_tuxhydro
  
  time_net:
    driver: bridge
    name: net_time_tuxhydro

  pgadmin_net:
    driver: bridge
    name: net_pgadmin_tuxhydro

volumes:
  postgresql:
    name: gis_vol_pg

  pgadmin:
    name: pgadmin_vol_pgadmin

secrets:
  postgres_password:
    file: ./Secrets/postgres_password
  jwt_private_key:
    file: ./Secrets/jwt_private.pem
  jwt_public_key:
    file: ./Secrets/jwt_public.pem
  fernet_password:
    file: ./Secrets/fernet_password
