PORT_FRONT=1580
PORT_CORE=8000
PORT_DB_PG=5432
PORT_PGADMIN=8081

POSTGRES_USER=postgres
POSTGRES_DB=tuxhydro

PGADMIN_DEFAULT_EMAIL=info@cuspide.club
PGADMIN_DEFAULT_PASSWORD=123
PGADMIN_DISABLE_POSTFIX=true